.custom-dialog {
    width:50%; 
    height: 50%;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(46, 148, 131);
}

.container-dialog {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: aquamarine;
}

.header-dialog {
    height: 50px;
}